.footer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  background-color: #2f303a;
}

.flex-footer {
  @include for-size(phone-only) {
    display: block;
  }

  @include for-size(tablet-landscape) {
    display: flex;
    flex-wrap: wrap;
  }
  @include for-size(desktop) {
    display: flex;
    justify-content: space-between;
  }
}
.block-adress-logo {
  display: inline-block;
  @include for-size(phone-only) {
    display: block;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 60px;
  }
  @include for-size(tablet-portrait) {
    display: block;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 60px;
  }
  @include for-size(tablet-landscape) {
    margin-left: auto;
    margin-right: 165px;
  }
  @include for-size(desktop) {
    text-align: start;

    margin: 0;
    padding: 60px 0px 60px 0px;
  }
}
.webstudio {
  margin-right: 0;
  margin-bottom: 20px;
}
.footer-logo {
  color: $accent-text;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 0;
  margin-bottom: 20px;
}
.footer-pat {
  margin: 0;
  color: #ffffff;
}
.footer-adress {
  display: inline-block;
  color: $primary-white-color;

  margin-top: 0;
  margin-right: 0;
  margin-bottom: 9px;
}
.first-link {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 9px;
}
.second-link {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}
.adress {
  display: inline-flex;
  flex-direction: column;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.adress-link {
  color: #acacb0;
  text-decoration: none;
  transition: color;
  transition-delay: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: $accent-text;
  }
}

.block-link {
  @include for-size(phone-only) {
    text-align: center;
  }
  @include for-size(tablet-portrait) {
    text-align: center;
  }
  @include for-size(tablet-landscape) {
    margin-top: 65px;
    margin-right: auto;
  }
  @include for-size(desktop) {
    // margin: 72px 0px 100px 0px;
    // padding: 0;
    margin: 0;
    padding: 72px 0px 100px 0px;
    text-align: start;
  }
}
.footer-link {
  display: flex;

  padding: 0;
  margin: 0;

  list-style: none;
  text-decoration: none;
  @include for-size(phone-only) {
    justify-content: center;
    margin-bottom: 60px;
  }

  @include for-size(tablet-portrait) {
    justify-content: center;
    margin-bottom: 60px;
  }
  @include for-size(desktop) {
    margin-bottom: 0;
  }
}

.title-footer {
  color: $primary-white-color;

  display: inline-block;
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.bacground-icon {
  display: flex;

  border-radius: 50%;
  background-color: #44454e;
  margin-right: 10px;
  margin-bottom: 24px;
  transition: background-color fill;
  transition-delay: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-color: $accent-text;
    fill: $accent-text;
  }
}

.icon-link-footer {
  display: flex;
  width: 44px;
  height: 44px;
  fill: #ffffff;
  padding: 12px 12px;
}
.button-stile {
  @include for-size(desktop) {
    display: flex;
    align-items: center;

    list-style: none;
    text-decoration: none;

    margin: 0;
    padding: 0;
  }
}
.form {
  @include for-size(phone-only) {
    text-align: center;
  }
  @include for-size(tablet-portrait) {
    text-align: center;
  }
  @include for-size(tablet-landscape) {
    width: 50%;
    margin-left: 166px;
    // @media screen and (max-width: 1199px) {
    //   width: 50%;
    //   margin-left: 166px;
    // }
  }
  @include for-size(desktop) {
    width: 570px;
    // margin: 72px 0px 94px 0px;
    // padding: 0;
    margin: 0;
    padding: 72px 0px 94px 0px;
    text-align: start;
  }
}

.form-footer {
  @include for-size(desktop) {
    display: flex;
    justify-content: start;
    align-items: center;
  }
}

.input-footer {
  display: flex;
  width: 100%;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;

  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: #acacb0;
  background-color: #2f303a;
  @include for-size(phone-only) {
    margin-bottom: 20px;
  }

  @include for-size(tablet-portrait) {
    margin-bottom: 20px;
  }
  @include for-size(desktop) {
    margin: 0px 12px 0px 0px;
  }
}
.submit-footer {
  display: inline-flex;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;

  background-color: $accent-text;
  color: #ffffff;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  border: 1px solid;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  @include for-size(phone-only) {
    margin-bottom: 60px;
  }

  @include for-size(tablet-portrait) {
    margin-bottom: 60px;
  }
  @include for-size(desktop) {
    margin: 0;
  }
}
.icon-send {
  display: flex;
  align-items: center;

  fill: $primary-white-color;
  width: 24px;
  height: 24px;

  margin-left: 10px;
  padding: 0;
}
