.footer {
  background-color: #2f303a;
}
.flex-footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}
.block-adress-logo {
  display: block;

  margin: 0;
  padding: 0;
}
.webstudio {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
}
.footer-logo {
  color: $accent-text;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 0;
  margin-bottom: 20px;
}
.footer-pat {
  margin: 0;
  color: #ffffff;
}
.footer-adress {
  display: inline-block;
  color: $primary-white-color;

  margin-top: 0;
  margin-right: 0;
  margin-bottom: 9px;
}
.first-link {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 9px;
}
.second-link {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}
.adress {
  display: inline-flex;
  flex-direction: column;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.adress-link {
  color: #acacb0;
  text-decoration: none;
  transition: color;
  transition-delay: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: $accent-text;
  }
}

.block-link {
  margin-left: 70px;
}
.footer-link {
  display: flex;

  padding: 0;
  margin: 0;

  list-style: none;
  text-decoration: none;
}

.title-footer {
  color: $primary-white-color;

  display: inline-block;
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.bacground-icon {
  display: flex;

  border-radius: 50%;
  background-color: #44454e;
  margin-right: 10px;
  margin-bottom: 24px;
  transition: background-color fill;
  transition-delay: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-color: $accent-text;
    fill: $accent-text;
  }
}

.icon-link-footer {
  display: flex;
  width: 44px;
  height: 44px;
  fill: #ffffff;
  padding: 12px 12px;
}
.button-stile {
  display: flex;
  align-items: center;

  list-style: none;
  text-decoration: none;

  margin: 0;
  padding: 0;
}
.form {
  width: 570px;
  margin-left: 93px;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-footer {
  display: flex;
  width: 358px;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;

  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: #acacb0;
  background-color: #2f303a;
}
.submit-footer {
  display: flex;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;

  background-color: $accent-text;
  color: #ffffff;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  border: 1px solid;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.icon-send {
  display: flex;
  align-items: center;

  fill: $primary-white-color;
  width: 24px;
  height: 24px;

  margin-left: 10px;
  padding: 0;
}
