.backdrop {
  @media screen and (min-width: 320px) and (max-width: 479px) {
    padding: 94px 15px;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    padding: 208px 159px;
  }
  @media screen and (min-width: 1200px) {
    padding: 221px 536px;
  }
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden .modal {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.modal {
  @media screen and (min-width: 320px) and (max-width: 479px) {
    width: 100%;
    max-height: 609px;
  }
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
  }
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: $primary-white-color;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.close-type {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  outline: $main-text-color;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;

  &:focus > .icon-close {
    fill: $accent-text;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.icon-close {
  fill: black;
}
