.development-conteiner {
  margin-bottom: 94px;
}

.flex-conteiner {
  display: flex;
  flex-wrap: wrap;
}

.block-flex {
  display: flex;

  width: 370px;

  margin-bottom: 30px;
  margin-right: 30px;

  border: 1px solid #eeeeee;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:nth-child(3n) {
    margin-right: 0;
  }
}

.block-flex:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.img-box {
  position: relative;
  overflow: hidden;
}

.img-hover {
  position: absolute;

  text-decoration: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  transform: translateY(100%);
  transition: transform 450ms cubic-bezier(0.4, 0, 0.2, 1);
}

.block-flex:hover .img-hover {
  opacity: 0.9;
  transform: translateY(0%);
}

.texnokryk-text {
  display: inline-block;

  margin-top: 0;
  margin-bottom: 0;
  padding: 63px 24px;
  height: 294px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  background-color: $accent-text;
  color: $primary-white-color;
  opacity: 0.9;
}
.border {
  display: inline-block;
}
.developments-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  text-decoration: none;
  margin: 0;
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 4px;

  color: $text-title-color;
}
.development-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-decoration: none;

  margin: 0;
  padding-left: 24px;
  padding-bottom: 20px;
  color: #757575;
}
