.section-team {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 60px;

  background-color: #f5f4fa;

  @include for-size(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-bottom: 94px;
  }
}
.bloc-team {
  @include for-size(tablet-landscape) {
    display: flex;
    flex-wrap: wrap;
  }

  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
.team {
  @include for-size(tablet-portrait) {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include for-size(tablet-landscape) {
    width: calc((100% - 30px) / 2);
    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-child(3) {
      margin-bottom: 0;
    }
  }

  @include for-size(desktop) {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;

    &:nth-child(4n) {
      margin-right: 0;
      padding-right: 0;
    }
    &:nth-child(2) {
      margin-right: 30px;
    }
    &:nth-child(even) {
      margin-bottom: 0;
    }
    &:first-child {
      margin-bottom: 0;
    }
  }
  width: 100%;
  background: #ffffff;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.title-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: $text-title-color;

  margin-top: 30px;
  margin-bottom: 10px;
}

.profile {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 16px;
}
.button-link {
  padding: 0;
  margin-bottom: 30px;

  &:nth-child(4) {
    margin-bottom: 0;
  }

  display: flex;
  justify-content: center;
  align-items: center;
}

.button-icon {
  display: flex;

  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 24px;

  transition: background-color;
  transition-delay: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-color: $accent-text;
    color: $primary-white-color;
  }
}

.profie-link {
  color: #afb1b8;
  text-decoration: none;
  border-radius: 50%;

  &:focus,
  &:hover {
    color: $primary-white-color;
  }
}

.icon-link {
  display: flex;
  width: 44px;
  height: 44px;
  fill: currentColor;

  padding: 12px 12px;

  .button-icon:focus,
  .button-icon:hover {
    background-color: $accent-text;
    color: $primary-white-color;
  }
}
