.conteiner {
  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.border-head {
  margin-top: 0;
  border-bottom: 1px solid #ececec;
}

/* nav*/

.conteiner-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}
.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  color: #000000;

  font-family: "Raleway", sans-serif;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo .pat {
  color: $accent-text;
}

.link {
  position: relative;
  color: $text-title-color;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color, fill;
  transition-delay: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav {
  display: flex;
  margin-left: 85px;
  list-style: none;
  text-decoration: none;

  .link:focus,
  .link:hover {
    color: $accent-text;
  }
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.current::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -43px;

  border-radius: 2px;

  background-color: $accent-text;
}

.site-nav .link.current {
  color: $accent-text;
  padding: 0;
  margin: 0;
}
.item-link {
  display: inline-flex;
  align-items: center;
  fill: $main-text-color;

  &:focus,
  &:hover {
    fill: $accent-text;
    color: $accent-text;
  }
}

.icon-email {
  width: 16px;
  height: 11px;
  margin-right: 10px;
}

.icon-smartphone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
}

.page-contacts {
  display: flex;

  align-items: center;
  margin-left: auto;
}
.contacts-nav {
  display: flex;
  align-items: center;

  .item-link:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts-nav .link {
  color: #757575;

  &:focus,
  &:hover {
    color: $accent-text;
  }
}
