.conteiner {
  width: 100%;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @include for-size(phone-only) {
    min-width: 320px;
  }

  @include for-size(tablet-portrait) {
    width: 480px;
  }

  @include for-size(tablet-landscape) {
    width: 768px;
  }

  @include for-size(desktop) {
    width: 1200px;
  }
}
.border-head {
  max-width: 1600px;
  margin-top: 0;
  border-bottom: 1px solid #ececec;
}

.conteiner-nav {
  @include for-size(tablet-landscape) {
    display: flex;
  }
  @include for-size(desktop) {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.main-nav {
  @media screen and (max-width: 677px) {
    display: none;
  }
  padding-top: 16px;
  padding-bottom: 16px;
  @include for-size(tablet-portrait) {
    display: none;
    // display: flex;
    // justify-content: center;
  }
  @include for-size(tablet-landscape) {
    display: inline-flex;
  }
  @include for-size(desktop) {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    padding: 0;
    margin-left: 93px;
  }
}

.link {
  position: relative;
  color: $text-title-color;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color, fill;
  transition-delay: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav {
  @include for-size(tablet-landscape) {
    display: flex;
    margin-left: 85px;
    padding: 0;
  }
  @include for-size(desktop) {
    margin-left: 85px;
    margin: 0;
    padding: 0;
  }

  list-style: none;
  text-decoration: none;

  .link:focus,
  .link:hover {
    color: $accent-text;
  }
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.current::before {
  @include for-size(tablet-landscape) {
    bottom: -33px;
  }
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -43px;

  border-radius: 2px;

  background-color: $accent-text;
}

.site-nav .link.current {
  color: $accent-text;
  padding: 0;
  margin: 0;
}
.item-link {
  @include for-size(tablet-landscape) {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  display: inline-flex;
  align-items: center;
  fill: $main-text-color;

  &:focus,
  &:hover {
    fill: $accent-text;
    color: $accent-text;
  }
}
.link-contact {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  color: $main-text-color;
  text-decoration: none;
  position: relative;
  transition: color, fill;
  transition-delay: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    fill: $accent-text;
    color: $accent-text;
  }
}

.icon-email {
  width: 16px;
  height: 11px;
  margin-right: 10px;
}

.icon-smartphone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
}

.page-contacts {
  @include for-size(tablet-landscape) {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

.contacts-nav {
  @media screen and (max-width: 677px) {
    display: none;
  }

  @include for-size(tablet-portrait) {
    display: none;
  }
  @include for-size(tablet-landscape) {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0;
    margin: 0;
    margin-left: 84px;
  }
  @include for-size(desktop) {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    .item-link:not(:last-child) {
      margin-right: 30px;
    }
  }
}
