.section-customers {
  outline: 1px solid red;
  @include for-size(tablet-portrait) {
    margin-bottom: 60px;
  }
  // margin-bottom: 94px;
}
.bloc-client {
  display: flex;
  flex-wrap: wrap;

  // width: calc((100%-15px * 4) / 2);
  @include for-size(tablet-portrait) {
    justify-content: start;
  }
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.client {
  display: flex;
  @include for-size(tablet-portrait) {
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }

  // margin-right: 30px;

  // &:nth-child(6n) {
  //   margin-right: 0;
  // }
}

.customers-link {
  display: flex;

  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid;
  border-radius: 4px;

  color: #afb1b8;
  @include for-size(tablet-portrait) {
    width: 210px;
  }
}
.icon-customers:focus,
.icon-customers:hover {
  color: $accent-text;
}

.icon-logo {
  display: flex;
  fill: currentColor;
  width: 170px;
  height: 90px;

  &:focus,
  &:hover {
    fill: $accent-text;
  }
}
