.form-modal {
  padding: 40px 40px;
}
.title-modal {
  margin-top: 0;
  margin-bottom: 12px;

  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: $text-title-color;
}
