.group {
  display: flex;
  flex-direction: column;

  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;

  color: $main-text-color;
}
.form-flip {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.position-modal {
  position: relative;

  margin-bottom: 21px;
}
.modal-label {
  display: block;
  margin-bottom: 4px;

  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: $main-text-color;
}
.modal-input:focus {
  border: 1px solid $accent-text;
  transition: 550ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus + .user-modal {
    fill: $accent-text;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.user-modal {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(-50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 18px;
  height: 18px;
  margin-left: 12px;
}
.modal-input {
  width: 100%;
  padding-top: 11px;
  padding-left: 42px;
  padding-bottom: 11px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
