.section-head {
  margin-top: 0;
  margin-bottom: 60px;
  text-align: center;

  @include for-size(desktop) {
    margin-bottom: 94px;
  }
}

.overlay {
  max-width: 1600px;

  margin-right: auto;
  margin-left: auto;

  background-position: center;
  background-size: cover;
  background-color: gray;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/header/head-mob480.jpg);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/header/head-mob@2x.jpg);
  }

  @include for-size(tablet-landscape) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/header/Header-tab-min.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/header/Header-tab@2x-min.jpg);
    }
  }

  @include for-size(desktop) {
    max-width: 1600px;
    padding: 200px 0;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/header/head-desc-min.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../img/header/header-desc@2x-min.jpg);
    }
  }
}
.title-head {
  padding-top: 118px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  color: $primary-white-color;
  font-weight: 900;
  font-size: 26px;

  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @include for-size(desktop) {
    font-size: 44px;
    line-height: 1.36;
    padding-top: 200px;
  }
}
