html {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: $main-text-color;
  background-color: $primary-white-color;

  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
